<div class="card shadow-sm">
  <div class="card-body">
    <div class="d-flex flex-column flex-lg-row">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
      </div>
      <div class="pt-0 pt-lg-4">
        <app-star-rating [rating]="product.rating"></app-star-rating>
        <div class="">
          <h4>
            {{ product.title | titlecase }}
          </h4>
          <p class="card-text fs-7">
            {{ product.shortDescription }}
          </p>
          <a routerLink="/show/{{product.id}}" class="text-red text-decoration-none fw-semibold">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
