<div class="card shadow-sm">
  <div class="card-body">
    <div class="d-flex flex-column flex-lg-row">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
      </div>
      <div class="pt-0 pt-lg-4">
        <div class="d-flex">
          @for (star of starAll; track $index){
            @if(star <= product.rating){
              <span class="bi-star-fill text-warning"></span>
            } @else {
              <span class="bi-star text-warning"></span>
            }
          }
        </div>
        <div class="">
          <h4>
            {{ product.title }}
          </h4>
          <p class="card-text fs-7">
            {{ product.shortDescription }}
          </p>
          <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
