:root{
  --color-red: #ea0000
}

.carousel{
  z-index: 1;
  overflow: hidden;
}


/*
.carousel:before{
  content: "";
  width: 500px;
  height: 500px;
  position: absolute;
  background: url("../assets/images/ombre.png") no-repeat;
  z-index: -1;
}*/

.carousel:before{
  content: "";
  width: 350px;
  height: 350px;
  position: absolute;
  top: 0%;
  right: 0%;
  background: url("../assets/images/ombre.png") no-repeat;
  z-index: -1;
}


