<main class="">
  <section class="bg-light pt-4 carousel">
    <app-navbar></app-navbar>
    <div class="container">
      <div class="row row-cols-1 flex-column flex-md-row row-cols-md-2">
        <div class="col d-flex justify-content-center align-items-center">
          <div class="">
            <h1 class="ff-permanentMarker">Mr Burger</h1>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur doloremque in labore molestias provident quo.</p>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <div class="img-burger">
            <img src="assets/images/Floating-burger.png" alt="burger" width="350">
          </div>
        </div>
      </div>
    </div>
  </section>
<!--
  <section class="pt-section">
    <div class="container">
      <div class="text-center">
        <h2 class="ff-permanentMarker">Our Menu</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis <br>
          deserunt dolore facilis odio, voluptates!
        </p>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <div class="d-flex justify-content-center gap-1 shadow-sm py-1 px-1 rounded-pill">
          <a href="" class="btn btn-light rounded-pill fw-semibold" style="width: 100px;">Pizza</a>
          <a href="" class="btn btn-light bg-red text-light rounded-pill fw-semibold" style="width: 100px;">Burger</a>
          <a href="" class="btn btn-light rounded-pill fw-semibold" style="width: 100px;">Glace</a>
        </div>
      </div>
      <div class="mt-4">
        <div class="row row-cols-1 row-cols-md-2 row-gap-3">
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
                  </div>
                  <div class="pt-0 pt-lg-4">
                    <div class="d-flex">
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star text-warning"></span>
                    </div>
                    <div class="">
                      <h4>
                        Burger au fromage!
                      </h4>
                      <p class="card-text fs-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores molestiae necessitatibus optio quidem quod? Culpa dicta dolor doloremque porro
                      </p>
                      <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
                  </div>
                  <div class="pt-0 pt-lg-4">
                    <div class="d-flex">
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star text-warning"></span>
                    </div>
                    <div class="">
                      <h4>Burger au fromage!</h4>
                      <p class="card-text fs-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores molestiae necessitatibus optio quidem quod? Culpa dicta dolor doloremque porro
                      </p>
                      <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
                  </div>
                  <div class="pt-0 pt-lg-4">
                    <div class="d-flex">
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star text-warning"></span>
                    </div>
                    <div class="">
                      <h4>Burger au fromage!</h4>
                      <p class="card-text fs-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores molestiae necessitatibus optio quidem quod? Culpa dicta dolor doloremque porro
                      </p>
                      <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
                  </div>
                  <div class="pt-0 pt-lg-4">
                    <div class="d-flex">
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star text-warning"></span>
                    </div>
                    <div class="">
                      <h4>Burger au fromage!</h4>
                      <p class="card-text fs-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores molestiae necessitatibus optio quidem quod? Culpa dicta dolor doloremque porro
                      </p>
                      <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
                  </div>
                  <div class="pt-0 pt-lg-4">
                    <div class="d-flex">
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star text-warning"></span>
                    </div>
                    <div class="">
                      <h4>Burger au fromage!</h4>
                      <p class="card-text fs-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores molestiae necessitatibus optio quidem quod? Culpa dicta dolor doloremque porro
                      </p>
                      <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
                  </div>
                  <div class="pt-0 pt-lg-4">
                    <div class="d-flex">
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star text-warning"></span>
                    </div>
                    <div class="">
                      <h4>Burger au fromage!</h4>
                      <p class="card-text fs-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores molestiae necessitatibus optio quidem quod? Culpa dicta dolor doloremque porro
                      </p>
                      <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
                  </div>
                  <div class="pt-0 pt-lg-4">
                    <div class="d-flex">
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star text-warning"></span>
                    </div>
                    <div class="">
                      <h4>Burger au fromage!</h4>
                      <p class="card-text fs-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores molestiae necessitatibus optio quidem quod? Culpa dicta dolor doloremque porro
                      </p>
                      <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
                  </div>
                  <div class="pt-0 pt-lg-4">
                    <div class="d-flex">
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star text-warning"></span>
                    </div>
                    <div class="">
                      <h4>Burger au fromage!</h4>
                      <p class="card-text fs-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores molestiae necessitatibus optio quidem quod? Culpa dicta dolor doloremque porro
                      </p>
                      <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
                  </div>
                  <div class="pt-0 pt-lg-4">
                    <div class="d-flex">
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star text-warning"></span>
                    </div>
                    <div class="">
                      <h4>Burger au fromage!</h4>
                      <p class="card-text fs-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores molestiae necessitatibus optio quidem quod? Culpa dicta dolor doloremque porro
                      </p>
                      <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Flying-Burger-480x480.png" class="bg-light me-3" alt="burger" srcset="" width="150" height="150">
                  </div>
                  <div class="pt-0 pt-lg-4">
                    <div class="d-flex">
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star-fill text-warning"></span>
                      <span class="bi-star text-warning"></span>
                    </div>
                    <div class="">
                      <h4>Burger au fromage!</h4>
                      <p class="card-text fs-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores molestiae necessitatibus optio quidem quod? Culpa dicta dolor doloremque porro
                      </p>
                      <a href="" class="text-red text-decoration-none fw-semibold">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex justify-content-center">
          <nav class="d-flex justify-content-center align-items-center gap-1 border p-1 rounded-pill">
            <a href="" class="btn btn-light btn-sm rounded-pill fw-semibold" style="width: 30px; height: 30px;">
              <i class="bi-chevron-left"></i>
            </a>
            <a href="" class="btn btn-light btn-sm rounded-pill fw-semibold" style="width: 30px; height: 30px;">01</a>
            <a href="" class="btn btn-light bg-red text-light btn-sm rounded-pill fw-semibold" style="width: 30px; height: 30px;">02</a>
            <a href="" class="btn btn-light btn-sm rounded-pill fw-semibold" style="width: 30px; height: 30px;">03</a>
            <a href="" class="btn btn-light btn-sm rounded-pill fw-semibold" style="width: 30px; height: 30px;">
              <i class="bi-chevron-right"></i>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </section>
-->
  <router-outlet></router-outlet>
  <app-service></app-service>
  <app-footer></app-footer>
</main>
