<footer class="mt-4 pb-4 bg-dark">
  <div class="container pt-4">
    <div class="d-flex justify-content-center gap-3">
      <a href="" class="btn border border-2 border-light text-light btn-sm d-flex justify-content-center align-items-center rounded-pill fw-semibold" style="width: 40px; height: 40px;">
        <i class="bi-facebook fs-6"></i>
      </a>
      <a href="" class="btn border border-2 border-light text-light btn-sm d-flex justify-content-center align-items-center rounded-pill fw-semibold" style="width: 40px; height: 40px;">
        <i class="bi-instagram fs-6"></i>
      </a>
      <a href="" class="btn border border-2 border-light text-light btn-sm d-flex justify-content-center align-items-center rounded-pill fw-semibold" style="width: 40px; height: 40px;">
        <i class="bi-twitter fs-6"></i>
      </a>
      <a href="" class="btn border border-2 border-light text-light btn-sm d-flex justify-content-center align-items-center rounded-pill fw-semibold" style="width: 40px; height: 40px;">
        <i class="bi-github fs-6"></i>
      </a>
    </div>
    <div class="mt-4 d-flex flex-column align-items-center">
      <div class="text-red fs-3 ff-sacramento">Mr Burger</div>
      <div class="d-flex flex-wrap justify-content-center gap-4 mt-3">
        <a href="" class="text-decoration-none text-light fw-semibold">Food & Burger</a>
        <a href="" class="text-decoration-none text-light fw-semibold">address&#64;gmail.com</a>
        <a href="" class="text-decoration-none text-light fw-semibold">Antananarivo</a>
        <a href="" class="text-decoration-none text-light fw-semibold">+261 33 00 000 00</a>
      </div>
      <div class="text-secondary mt-2 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    </div>
  </div>
</footer>
